:root{
    --bg-color: #0f1729;
    --h1-color: #fac814;
    --p-color: #fff;
    --p2-color: #a6a6a6;
    --border-smooth: #a6a6a632;
    --elements-color: #18212f;
}


body{
    background-color: var(--bg-color);
    height: 100dvh;
    width: 100dvw;
    font-family:'Courier New', Courier, monospace;
    
}

main{
    min-height: 98dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer{
    display: block;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p2-color);
}

input:focus{
    outline: none;
}


