header{
    height: 300px;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#icon-img{
    width: 40px;
}

h1{
    color: var(--h1-color);
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
h2{
    width: 25%;
    color: var(--p2-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

#manual-link-page{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border-radius: 10px;
    text-decoration: none;
    color: var( --h1-color);
    font-size: 14px;
    font-weight: 800;
    border: 1px solid var(--h1-color);
    box-shadow: 0 0 10px 0.1px var(--h1-color);
    margin: 15px;
}


