
.section-tagindex-search{
    height: 160px;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-bar-box{
    background-color: var(--elements-color);
    width: 650px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border: 1px solid var(--border-smooth);
    border-radius: 10px;
    color: var(--p-color);
    padding: 10px;
}
.search-bar-box:focus{
    box-shadow: 0 0 8px 0.5px var(--h1-color);
}
.search-bar-box:hover{
    box-shadow: 0 0 8px 0.5px var(--h1-color);
}

#search-icon{
    width: 20px;
    filter: brightness(0) invert(1);
    transform: scaleX(-1);
    rotate: 10deg;
    opacity: 0.5;
}

#search-bar{
    background-color: transparent;
    width: 600px;
    height: 60px;
    padding-left: 15px;
    font-size: 18px;
    color: var(--p-color);
    border: none;
}


.indexed-tags{
    width: 63.5rem;
    height: 80px;
    padding: 30px 10px 15px 10px;
}

.tags{
    background-color:var(--elements-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    color: var(--p2-color);
    text-decoration: none;
    font-size: 14px;
    transition: ease-in-out 0.5s;
    margin-left: 8px;
    margin-right: 8px;
}
.tags:hover{
    border: 1px solid var(--h1-color);
    box-shadow: 0 0 10px 0.1px var(--h1-color);
}
.tags:focus{
    background-color: var(--h1-color);
    color: var(--bg-color);
}

    

.content{
    height: fit-content;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
}

.card-container{
    background-color: var(--elements-color);
    height: 200px;
    width: 310px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid var(--border-smooth);
    transition: ease-in-out 0.5s;
    cursor: pointer;
    padding: 20px;
}
.card-container:hover{
    border: 1px solid var(--h1-color);
    box-shadow: 0 0 10px 0.1px var(--h1-color);
}

.card-img{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-description{
    width: 19.5rem;
    height: 6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-description p{
    color: var(--p2-color);
    font-size: 17px;
    text-align: left;
    text-overflow: ellipsis;
}

.card-tag-category{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    color: var(--p2-color);
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--p2-color);

}
.card-tag-category:hover{
    border: 1px solid var(--h1-color);
}